*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100PX;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(tajmahal.jpeg);
    background-size: cover;
}
nav{
    width: 100px;
    height: 15vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}